* {
    margin: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

body {
    height: 100vh;
    width: 100vw;
    background: rgb(33, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 300px;
    width: 300px;

}

.card img {
    height: 200px;
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
    animation: dance 300ms infinite alternate ease-in-out;
}

.card button {
    text-align: center;
    color: white;
    background-color: rgb(87, 85, 86);
    margin: 10px auto;
    display: block;
    font-size: 1.2rem;
    border-radius: 3px;
    padding: .3rem 2rem;
    text-transform: uppercase;
    font-family: 'Roboto';
    box-shadow: -2px  2px 0px crimson;
    cursor: pointer;
    border: none;
    transition: box-shadow 300ms, color 300ms;
}
.card button:hover{
    box-shadow: 0px  0px 0px crimson;
    color: #e18713;
    
}

.boxes {
    position: fixed;
    top:5%;
    display: flex;
    justify-content: space-between;


}


.action-box.download .action {
    background: rgb(29, 167, 116);

}

.action-box.notify .action {
    background: #e18713
}




.action {
    width: 50px;

    overflow: hidden;
    height: 50px;

    display: grid;
    grid-template-columns: 50px 100px;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: width 300ms 200ms;

}


.action p {
    font-weight: bold;
    text-align: center;

}

.action svg {
    height: 1rem;
    width: 1rem;
    display: block;



}





.action-box:hover .action {
    width: 170px;
}
.action-box:hover .action svg {
    animation: shakeIcon 1s forwards
}


@media screen and (max-width:1300px) {
    .container {

        max-width: 90%
    }
}

@media screen and (max-width:800px){
    .boxes {
      width:100%
    }
    .action{
        width: 100%;
    }
}

@keyframes shakeIcon {
    25% {
        transform: rotate(29deg);

    }

    50% {
        transform: rotate(-29deg);
    }

    75% {
        transform: rotate(29deg);

    }

    100% {
        transform: rotate(0deg);
        stroke-width: 3;
    }
}

@keyframes dance {
    from {
        transform: skewX(-10deg);

    }

    to {
        transform: skewX(10deg);
    }
}